torch==2.0.1
numpy==1.25.1
pandas==2.0.3
matplotlib==3.7.2

planetary-computer==1.0.0
pystac-client==0.7.2
stackstac==0.4.4
dask==2023.7.0
dask-gateway==2023.1.1
bokeh==3.2.0

geopandas==0.13.2
dask-geopandas==0.3.1
shapely==2.0.1
pyproj==3.6.0
pygeos==0.14
pyarrow==14.0.1

ipykernel==6.24.0